
<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <div class="container">
    <h1>Dungeon Crawler</h1>
    <p>Player is facing <%= @player.direction %></p>
    <p>Player is in room <%= @current_room.id %></p>
    <p>The image should be <%= "#{@player.direction}_image" %></p>
    <% if @current_room %>
      <%= image_tag @current_room.send("#{@player.direction}_image"), alt: "Room facing #{@player.direction}" %>
    <% else %>
      <p>No room found!</p>
    <% end %>

    <div>
        <form action="/move" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit" name="direction" value="forward">Move Forward</button>
            <button type="submit" name="direction" value="backward">Move Backward</button>
        </form>
        <form action="/turn" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit" name="direction" value="left">Turn Left</button>
            <button type="submit" name="direction" value="right">Turn Right</button>   
        </form>
    </div>
  </div>
<% else %>
  <%= link_to "Sign In", new_user_session_path %> |
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>




